/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body{
    margin:0;    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* -----------
        header-section style
                    -------- */


.top-banner{
    display: flex;
    margin:0 auto;
    width:1321px;
    margin-bottom: 130px;
    margin-top:50px;
    background-color: rgb(29, 28, 28);
    border-radius: 30px;
}
.half-width1{
    width:531px;
    height:424px;
    padding-top:50px;
    padding-left: 106px;
    margin-right: 24px;
   
}
.half-width2{
    width:50%;
    margin-top:33px;
}
.header-title{
    line-height: 80px;
}
.hover-btn:hover{
    background-color: blue;
    color:white;
}

.link-button{
    width:187px;
    height:57px;
    font-size: 20px;
    font-weight: 400;
    color:white;
    border: none;
    background-color: #DD0000;
    border-radius: 5px;
}


.header-title{
    color: white;
    font-size: 70px;
    font-weight: 700px;
}
.header-info{
    font-size: 16px;
    font-weight: 400;
    color:white;
    margin-bottom: 30px;
    line-height: 26px;
    margin-top:20px;
}
.top-banner .half-width2 img{
    width:581px;
    height:613px;
}
/*----------
        header-section style end 
                    -------*/

/* section style start */

.container{
    width:100%;
}

.card-players{
    display: flex;
    margin:0 auto;
    margin-bottom: 200px;
    width:1321px;
    

}
.aside-button{
    width:312px;
    height:312px;
    margin-right: 24px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
.aside-btn{
    width:252px;
    height:64px;
    margin: 20px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
}


#aside-color-btn{
    background-color: blue;
}
#aside-color-btn a{
        color:white;
}
.aside-btn a{
    text-decoration: none;
    font-size: 22px;
    font-weight:700;
    color:rgb(53, 51, 51);
}

.match-shedule{
    width:312px;
    height:240px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}
.match-shedule img{
    width:100px;
    height:56px;
}
.match-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:20px;
    grid-column-gap:20px;
}

/* ------
        section style end 
            -----------------*/


/* --------footer style start 
                --------------*/
.footer{
    width:100%;
    margin:0 auto;
    text-align: center;
    background-color: black;
}
.footer-title{
    padding-top:130px;
    color:white;
    font-size: 40px;
   

}
hr{
    width:1320px;
    margin-top:50px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-manu a{
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 40px;
    
}
.footer-icon{
    margin:50px 30px 0px 20px;
    font-size: 25px;
    color:white;
}


/*---------
         Media query used  
                    --------*/


    /* -------Mobile device------ */

@media only screen and (max-width:767px) {
    .main-container{
        overflow-x: hidden;
        width:100%;
    }
    
    .top-banner{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        
    }
        .header-title{
            width:100%;
            font-size:50px;
            line-height: 60px;
            text-align: center;
            margin-left:-50px;
            
        }          
        .header-info{
            width:100%;
            font-size:13px;
            text-align:center;
            margin-left:-50px;
            
        }  
        .link-button{
            width:200px;
            height:50px;
            font-size: 20px;
            margin-left:120px;
            
        }        
        .half-width2{
            margin-top:-80px;
        }
       .top-banner .half-width2 img{
            width:400px;
            margin-left: 20px;
           
       }
        .aside-button{
            width:300px;
            height:176px;
            margin-top:-90px;
            margin-left:230px;
            background-color: white;
            margin-bottom: 100px;
        }
       
        .aside-btn{
            border:1px solid gray;
           padding:10px 5px;
           margin-top:0px;
        }
        .card-players{
            width:100%;
            margin-bottom: 100px;
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
        }
        
        .match-field{
            width:100%;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 220px;
        }
        .footer{
            width:100%;
        }
        .footer-manu{
            width:auto;
            display: flex;
            line-height: 35px;
            padding-left: 40px;
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
          
        }
        

}

/* Media query for tablet device */
@media only screen and (min-width:768px) and (max-width:1023px) {
    .main-container{
        overflow-x: hidden;
        width:100%;
    }
    /* -----
            header-section start
                        ----*/
    .top-banner{
        width:100%;  
    }
        .header-title{
            width:100%;
            font-size:50px;
            line-height: 60px;
            text-align: center;
            margin-left:-50px;
            
        }          
        .header-info{
            width:100%;
            font-size:13px;
            text-align:center;
            margin-left:-80px;
            
        }  
        .link-button{
            font-size: 20px;
            margin-left:-20px;  
        }        
        
       .top-banner .half-width2 img{
            width:400px;
            margin-left:-100px;
 
       }
       /* ------
                header-section end
                                ----- */
        .aside-button{
            width:750px;
            height:176px;
            display:flex;
            grid-template-rows: repeat(1, 1fr);
            margin-top:-80px;
            background-color: white;
            margin-bottom:-20px;
            
        }
       
        .aside-btn{
            border:1px solid gray;
            margin-left: 50px;
            
        }
        .card-players{
            width:100%;
            margin-bottom: 100px;
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
        }
        .match-field{
            width:100%;
            margin-left: 40px;
            column-gap:0px;
            grid-template-columns: repeat(2, 1fr);
        }
        .footer-manu{
            width:100%;
            display: flex;
            line-height: 35px;
            padding-left: 20px;
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
          
        }
}